*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#cour_img{
    width: 345px;
    height: 170px;
}
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }